{% extends 'aisitesbase.html' %}
	


  <!-- start: Content -->
  	{% block content %}

		<section class="c-second-banner">
			<div class="main">
			<h3>社区\组织</h3>
			<dl class="main-menu">
					<dt class="main-title">巨头</dt>
					<dd class="main-list">
						<a href="http://ai.baidu.com/" target="_blank">百度AI</a>
						<a href="https://open.aliplus.com/" target="_blank">阿里智能</a>
						<a href="http://ai.tencent.com" target="_blank">腾讯AI</a>
						<a href="https://deepmind.com/" target="_blank">DeepMind</a>
						<a href="http://www.xfyun.cn/" target="_blank">讯飞开放平台</a>
						<a href="http://www.sensetime.com" target="_blank">商汤科技</a>
						<a href="http://www.siasun.com/" target="_blank">新松</a>
						<a href="http://www.ubtrobot.com/" target="_blank">优必选</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">自然语言处理</dt>
					<dd class="main-list">
						<a href="https://cloud.baidu.com" title="" target="_blank">天智</a>
						<a href="http://www.52nlp.cn/" title="" target="_blank">52nlp</a>
						<a href="http://botbrain.ai/" title="" target="_blank">布本智能</a>
						<a href="http://nlp.ict.ac.cn" title="" target="_blank">中科院nlp研究所</a>
						<a href="http://www.nlpjob.com/" title="" target="_blank">NLPJOB</a>
						<a href="http://ictclas.nlpir.org/" title="" target="_blank">汉语分词系统</a>
						<a href="http://www.cbigu.com" title="" target="_blank">比咕</a>
						<a href="http://www.hankcs.com/" title="" target="_blank">码农场</a>
						<a href="http://www.ltp-cloud.com/" title="" target="_blank">语言云</a>
						<a href="https://www.qcloud.com" title="" target="_blank">文智</a>
						<a href="http://trio.ai/" title="" target="_blank">三角兽</a>
						<a href="http://mor.ai/" target="_blank">蓦然认知</a>
						<a href="http://www.yige.ai/" target="_blank">一个AI</a>
						<a href="http://www.ruyi.ai/"  target="_blank">如意AI</a>
						<a href="https://www.motion.ai/" target="_blank">motion</a>
						<a href="http://zhuiyi.ai/"  target="_blank">追一</a>
						<a href="http://www.nao.ai/" target="_blank">nao</a>
						<a href="http://www.naturali.ai/"  target="_blank">小不点</a>
						<a href="http://lwld.rsvp.ai/" target="_blank">旅问旅答</a>
						<a href="http://www.nlpir.org/" target="_blank">自然语言处理资源共享平台</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器视觉</dt>
					<dd class="main-list">
						<a href="http://www.alibench.com/" target="_blank">IHALCON</a>
						<a href="http://wiki.opencv.org.cn"target="_blank">OpenCV中文网站</a>
						<a href="http://www.face-rec.org/"  target="_blank">FACE REC</a>
						<a href="http://www.cvchina.net/"  target="_blank">计算机视觉论坛</a>
						<a href="http://www.china-vision.org/" target="_blank">中国视觉网</a>
						<a href="http://www.cvvision.cn/" target="_blank">CV视觉网</a>
						<a href="http://www.china-vision.com.cn"  target="_blank">中国机器视觉商城</a>
						<a href="http://www.cvpapers.com/" target="_blank">CVPapers</a>
						<a href="http://www.cvvision.cn/" target="_blank">CV视觉网</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">语音识别</dt>
					<dd class="main-list">
						<a href="http://www.hcicloud.com/"target="_blank">灵云</a>
						<a href="https://cn.olami.ai/"  target="_blank">欧拉蜜</a>
						<a href="http://yuyin.baidu.com/"target="_blank">百度语音</a>
						<a href="http://www.xfyun.cn" target="_blank">讯飞开放平台</a>
						<a href="https://www.qcloud.com"  target="_blank">腾讯语音</a>
						<a href="http://dev.hivoice.cn/"  target="_blank">云知声</a>
						<a href="http://www.speechocean.com"  target="_blank">海天瑞声</a>
						<a href="http://human.iflytek.com/"  target="_blank">群音标注平台</a>
						<a href="http://openspeech.sogou.com"  target="_blank">搜狗语音云</a>
						<a href="http://www.threedweb.cn"  target="_blank">threedweb</a>
						<a href="http://www.siac.org.cn/"  target="_blank">智能语音公共服务平台</a>
						<a href="http://www.aispeech.com/"  target="_blank">思必驰</a>
						<a href="http://www.huitingtech.com/"  target="_blank">慧听数据</a>
						<a href="http://nelslip.ustc.edu.cn/"  target="_blank">语音及语言信息处理国家工程实验室</a>
						<a href="http://www.ltp-cloud.com/"  target="_blank">语言云</a>
						<a href="http://www.icroute.com"  target="_blank">icroute</a>
						<a href="http://www.pachira.cn"  target="_blank">普强信息</a>
						<a href="http://www.voicetune.com"  target="_blank">上海闻通信息</a>
						<a href="http://www.datashenzhen.com"  target="_blank">语音数据中心</a>
						<a href="http://www.chumenwenwen.com/"  target="_blank">出门问问</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">智能机器人</dt>
					<dd class="main-list">
						<a href="https://www.jqr.com/"  target="_blank">机器人网</a>
						<a href="http://www.robot-china.com/"  target="_blank">中国机器人网</a>
						<a href="http://www.jiqirenku.com/" target="_blank">机器人库</a>
						<a href="http://robot.ofweek.com/" target="_blank">robotofweek</a>
						<a href="http://www.jiqiren.tv/"  target="_blank">机器人TV</a>
						<a href="http://www.robot-china.com/"  target="_blank">小i机器人</a>
						<a href="http://www.jiqirenku.com/" target="_blank">1号机器人网</a>
						<a href="http://www.worldrobotconference.com" target="_blank">世界机器人大会</a>
						<a href="https://www.jqr.com/"  target="_blank">jqr5</a>
						<a href="http://www.letsmakerobots.cn/"  target="_blank">机器人制作网</a>
						<a href="http://www.imrobotic.com" target="_blank">机器人在线</a>
						<a href="http://robot.ofweek.com/" target="_blank">机器人365</a>
						<a href="http://therobots.cn/"  target="_blank">机器人之家</a>

						<a href="http://www.robotsky.com/" target="_blank">机器人天空</a>
						<a href="http://robot.ofweek.com/" target="_blank">机器人365</a>
						<a href="http://therobots.cn/"  target="_blank">机器人之家</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">无人驾驶</dt>
					<dd class="main-list">
						<a href="https://www.momenta.ai/"  target="_blank">momenta</a>
						<a href="http://www.uisee.com/" target="_blank">驭势</a>
						<a href="http://www.roadstar.ai" target="_blank">roadstar</a>
					</dd>
				</dl>

		</div>
        </section>

    {% endblock %}
      
