{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Blog Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">

    <!--<link rel="stylesheet" type="text/css" href="{% static 'css/reset_source.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/my_style.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/zzsc.css' %}">
    <link rel="stylesheet" href="{% static 'src/jquery.skidder.css' %}">
    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'js/imagesloaded.js' %}"></script>
    <script src="{% static 'js/smartresize.js' %}"></script>
    <script src="{% static 'src/jquery.skidder.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
	<style type="text/css">

             .navBar{
             	display: none;
             }
             .main-menu dt{
             	width: 13%;
             }
             .main-menu dd{
               float: left;
               width: 80%;
               margin-bottom: 15px;

             }
             .main-menu a{
               margin: 5px;
             }
             .main-menu {
				min-height: 40px;
				width: 100%;
				border-bottom: 1px dashed #eee;
				overflow: hidden;
				padding-bottom: 10px;
			}

	</style>
  </head>
<body>
	<div class="wrapper">

<header id="top">
    <div class="container">
        <div class="logo fl">
            <a href="javascript:void(0)"><img src="{% static 'img/ai123logo.png' %}" alt="logo.png' %}"></a>
        </div>
        <!-- <ul class="navbar-left fl">
            <li class="fl zixun js-click-zixun"  onmouseover="isOut=false" onmouseout="isOut=true">
                <a href="javascript:void(0)">
                    <span>咨询</span>
                    <em class="fa fa-caret-down"></em>
                    <em class="fa fa-caret-up undis"></em>
                </a>
            </li>
            <li class="fl"><a href="javascript:void(0)"><span>群组</span></a></li>
            <li class="fl huodong">
                <a href="javascript:void(0)">
                    <span>活动</span>
                    <em class="fa fa-caret-down"></em>
                    <em class="fa fa-caret-up undis"></em>
                </a>
            </li>
            <div class="clear"></div>
        </ul> -->

       <!--  <ul class="navbar-right fr">
            <li class="fl"><a href="javascript:void(0)"><em class="fa fa-search"></em></a></li>
            <li class="fl"><a href="javascript:void(0)"><span>登录</span></a></li>
            <li class="fl"><a href="javascript:void(0)"><span>注册</span></a></li>
            <li class="fl tougao"><a href="javascript:void(0)"><span>投稿</span></a></li>
        </ul> -->
        <div class="sub-navbar">
        </div>


        <div class="clear"></div>

    </div>
    <div class="nav-extend nav-extend-zixun undis" onmouseover="isOut=false" onmouseout="isOut=true">
        <div class="container">
            <ul>
                <li>
                    <a href="javascript:void(0)"><span>虎嗅F&M创新借</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>TOP DAY</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>上道沙龙</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>WoW！营销会</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>虎嗅听书会</span></a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span>更多胡秀活动</span></a>
                </li>
            </ul>
        </div>

    </div>

    <div class="c-search undis">
        <div class="close">
            <i class="fa fa-close"></i>
        </div>
        <div class="search-container">
            <div class="input-keywords">
                <input class="fl" type="text" placeholder="请输入关键字">
                <a href="" class="fr"><i class="fa fa-search"></i></a>
            </div>
            <div class="search-history">
                <span class="history-lable">我的搜索历史</span>
                <ul>
                    <li><a href=""><span>数码</span></a></li>
                    <li><a href=""><span>科技</span></a></li>
                    <div class="clear"></div>
                </ul>
                <div class="clear-hisotry">
                    <a href=""><span>清空历史</span></a>
                </div>
            </div>
            <div class="hot-search-keywords">
                <span class="hotkeys-lable">热搜词</span>
                <ul>
                    <li><a href=""><span>数码</span></a></li>
                    <li><a href=""><span>科技</span></a></li>
                    <li><a href=""><span>互联网</span></a></li>
                    <li><a href=""><span>汽车之家</span></a></li>
                    <li><a href=""><span>Uber</span></a></li>
                    <li><a href=""><span>支付宝</span></a></li>
                    <li><a href=""><span>大数据</span></a></li>
                    <li><a href=""><span>创业</span></a></li>

                    <div class="clear"></div>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="c-main fl">
        <section class="c-first-banner">
            <a href="javascript:void(0)">
            <div class="slideshow" style="height: 0; margin-top:15px;overflow: hidden">
                <div class="slide"><img src="{% static 'img/moon.jpg' %}"></div>
                <div class="slide"><img src="{% static 'img/chaoshi.jpg' %}"></div>
                <div class="slide"><img src="{% static 'img/xingzou.jpg' %}"></div>
                <div class="slide"><img src="{% static 'img/wuliu.jpg' %}"></div>
				<div class="slide"><img src="{% static 'img/jiqiren.jpg' %}"></div>
            </div>
            <script type="text/javascript">
    $('.slideshow').each( function() {
          var $slideshow = $(this);
          $slideshow.imagesLoaded( function() {
            $slideshow.skidder({
              slideClass    : '.slide',
              animationType : 'css',
              scaleSlides   : true,
              maxWidth : 1300,
              maxHeight: 500,
              paging        : true,
              autoPaging    : true,
              pagingWrapper : ".skidder-pager",
              pagingElement : ".skidder-pager-dot",
              swiping       : true,
              leftaligned   : false,
              cycle         : true,
              jumpback      : false,
              speed         : 400,
              autoplay      : false,
              autoplayResume: false,
              interval      : 4000,
              transition    : "slide",
              afterSliding  : function() {},
              afterInit     : function() {}
            });
          });
    });
    $(window).smartresize(function(){
          $('.slideshow').skidder('resize');
    });

</script>
</a>
        </section>

        <section class="c-second-banner">
			<div class="main">
			<h3>社区\组织</h3>
			<dl class="main-menu">
					<dt class="main-title">巨头</dt>
					<dd class="main-list">
						<a href="http://ai.baidu.com/" target="_blank">百度AI</a>
						<a href="https://open.aliplus.com/" target="_blank">阿里智能</a>
						<a href="http://ai.tencent.com" target="_blank">腾讯AI</a>
						<a href="https://deepmind.com/" target="_blank">DeepMind</a>
						<a href="http://www.xfyun.cn/" target="_blank">讯飞开放平台</a>
						<a href="http://www.sensetime.com" target="_blank">商汤科技</a>
						<a href="http://www.siasun.com/" target="_blank">新松</a>
						<a href="http://www.ubtrobot.com/" target="_blank">优必选</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">自然语言处理</dt>
					<dd class="main-list">
						<a href="https://cloud.baidu.com" title="" target="_blank">天智</a>
						<a href="http://www.52nlp.cn/" title="" target="_blank">52nlp</a>
						<a href="http://botbrain.ai/" title="" target="_blank">布本智能</a>
						<a href="http://nlp.ict.ac.cn" title="" target="_blank">中科院nlp研究所</a>
						<a href="http://www.nlpjob.com/" title="" target="_blank">NLPJOB</a>
						<a href="http://ictclas.nlpir.org/" title="" target="_blank">汉语分词系统</a>
						<a href="http://www.cbigu.com" title="" target="_blank">比咕</a>
						<a href="http://www.hankcs.com/" title="" target="_blank">码农场</a>
						<a href="http://www.ltp-cloud.com/" title="" target="_blank">语言云</a>
						<a href="https://www.qcloud.com" title="" target="_blank">文智</a>
						<a href="http://trio.ai/" title="" target="_blank">三角兽</a>
						<a href="http://mor.ai/" target="_blank">蓦然认知</a>
						<a href="http://www.yige.ai/" target="_blank">一个AI</a>
						<a href="http://www.ruyi.ai/"  target="_blank">如意AI</a>
						<a href="https://www.motion.ai/" target="_blank">motion</a>
						<a href="http://zhuiyi.ai/"  target="_blank">追一</a>
						<a href="http://www.nao.ai/" target="_blank">nao</a>
						<a href="http://www.naturali.ai/"  target="_blank">小不点</a>
						<a href="http://lwld.rsvp.ai/" target="_blank">旅问旅答</a>
						<a href="http://www.nlpir.org/" target="_blank">自然语言处理资源共享平台</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器视觉</dt>
					<dd class="main-list">
						<a href="http://www.alibench.com/" target="_blank">IHALCON</a>
						<a href="http://wiki.opencv.org.cn"target="_blank">OpenCV中文网站</a>
						<a href="http://www.face-rec.org/"  target="_blank">FACE REC</a>
						<a href="http://www.cvchina.net/"  target="_blank">计算机视觉论坛</a>
						<a href="http://www.china-vision.org/" target="_blank">中国视觉网</a>
						<a href="http://www.cvvision.cn/" target="_blank">CV视觉网</a>
						<a href="http://www.china-vision.com.cn"  target="_blank">中国机器视觉商城</a>
						<a href="http://www.cvpapers.com/" target="_blank">CVPapers</a>
						<a href="http://www.cvvision.cn/" target="_blank">CV视觉网</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">语音识别</dt>
					<dd class="main-list">
						<a href="http://www.hcicloud.com/"target="_blank">灵云</a>
						<a href="https://cn.olami.ai/"  target="_blank">欧拉蜜</a>
						<a href="http://yuyin.baidu.com/"target="_blank">百度语音</a>
						<a href="http://www.xfyun.cn" target="_blank">讯飞开放平台</a>
						<a href="https://www.qcloud.com"  target="_blank">腾讯语音</a>
						<a href="http://dev.hivoice.cn/"  target="_blank">云知声</a>
						<a href="http://www.speechocean.com"  target="_blank">海天瑞声</a>
						<a href="http://human.iflytek.com/"  target="_blank">群音标注平台</a>
						<a href="http://openspeech.sogou.com"  target="_blank">搜狗语音云</a>
						<a href="http://www.threedweb.cn"  target="_blank">threedweb</a>
						<a href="http://www.siac.org.cn/"  target="_blank">智能语音公共服务平台</a>
						<a href="http://www.aispeech.com/"  target="_blank">思必驰</a>
						<a href="http://www.huitingtech.com/"  target="_blank">慧听数据</a>
						<a href="http://nelslip.ustc.edu.cn/"  target="_blank">语音及语言信息处理国家工程实验室</a>
						<a href="http://www.ltp-cloud.com/"  target="_blank">语言云</a>
						<a href="http://www.icroute.com"  target="_blank">icroute</a>
						<a href="http://www.pachira.cn"  target="_blank">普强信息</a>
						<a href="http://www.voicetune.com"  target="_blank">上海闻通信息</a>
						<a href="http://www.datashenzhen.com"  target="_blank">语音数据中心</a>
						<a href="http://www.chumenwenwen.com/"  target="_blank">出门问问</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">智能机器人</dt>
					<dd class="main-list">
						<a href="https://www.jqr.com/"  target="_blank">机器人网</a>
						<a href="http://www.robot-china.com/"  target="_blank">中国机器人网</a>
						<a href="http://www.jiqirenku.com/" target="_blank">机器人库</a>
						<a href="http://robot.ofweek.com/" target="_blank">robotofweek</a>
						<a href="http://www.jiqiren.tv/"  target="_blank">机器人TV</a>
						<a href="http://www.robot-china.com/"  target="_blank">小i机器人</a>
						<a href="http://www.jiqirenku.com/" target="_blank">1号机器人网</a>
						<a href="http://www.worldrobotconference.com" target="_blank">世界机器人大会</a>
						<a href="https://www.jqr.com/"  target="_blank">jqr5</a>
						<a href="http://www.letsmakerobots.cn/"  target="_blank">机器人制作网</a>
						<a href="http://www.imrobotic.com" target="_blank">机器人在线</a>
						<a href="http://robot.ofweek.com/" target="_blank">机器人365</a>
						<a href="http://therobots.cn/"  target="_blank">机器人之家</a>

						<a href="http://www.robotsky.com/" target="_blank">机器人天空</a>
						<a href="http://robot.ofweek.com/" target="_blank">机器人365</a>
						<a href="http://therobots.cn/"  target="_blank">机器人之家</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">无人驾驶</dt>
					<dd class="main-list">
						<a href="https://www.momenta.ai/"  target="_blank">momenta</a>
						<a href="http://www.uisee.com/" target="_blank">驭势</a>
						<a href="http://www.roadstar.ai" target="_blank">roadstar</a>
					</dd>
				</dl>

		</div>
        </section>

        <section class="c-second-banner">
            <div class="main">
			<h3>常用工具</h3>
			<dl class="main-menu">
					<dt class="main-title">自然语言处理</dt>
					<dd class="main-list">
						<a href="http://ictclas.nlpir.org/" target="_blank">中科院ICTCLAS分词</a>
						<a href="http://www.niuparser.com/" target="_blank">东北大学NIUPARSER</a>
						<a href="http://thulac.thunlp.org/" target="_blank">清华大学THULAC</a>
						<a href="https://github.com/xpqiu/fnlp/" target="_blank">复旦大学FUNLP</a>
						<a href="https://github.com/hankcs/HanLP" target="_blank">HanLP</a>
						<a href="http://technology.chtsai.org/mmseg/" target="_blank">MMSEG</a>
						<a href="https://code.google.com/p/jcseg/" target="_blank">JCSEG</a>
						<a href="https://github.com/NLPchina/ansj_seg" target="_blank">Ansj</a>
						<a href="http://www.ltp-cloud.com/" target="_blank">哈工大语言云</a>
						<a href="http://alias-i.com/lingpipe/" target="_blank">LingPipe</a>
						<a href="https://github.com/ysc/word" target="_blank">WORD</a>
						<a href="https://github.com/chenlb/mmseg4j-solr" target="_blank">MMSEG4J</a>
						<a href="https://code.google.com/archive/p/ik-analyzer/" target="_blank">IK-ANALYZER</a>
						<a href="http://lucene.apache.org/core/5_1_0/analyzers-smartcn/org/apache/lucene/analysis/cn/smart/SmartChineseAnalyzer.html" target="_blank">SMARTCN</a>
						<a href="https://github.com/huaban/jieba-analysis" target="_blank">JIEBA</a>
						<a href="http://nlp.stanford.edu/software/segmenter.shtml" target="_blank">Stanford parser</a>
						<a href="https://github.com/slavpetrov/berkeleyparser" target="_blank">Berkeley parser</a>
						<a href="http://www.nltk.org/" target="_blank">nltk</a>
						<a href="https://github.com/clips/pattern" target="_blank">Pattern</a>
						<a href="https://github.com/RaRe-Technologies/gensim" target="_blank">Gensim</a>
						<a href="https://github.com/proycon/pynlpl" target="_blank">PyNLPl</a>
						<a href="https://spacy.io/" target="_blank">spaCy</a>

						<a href="https://nlp.stanford.edu/software/segmenter.shtml" target="_blank">Stanford Word Segmenter</a>
						<a href="http://psiexp.ss.uci.edu/research/programs_data/toolbox.htm" target="_blank">Matlab Topic Modeling</a>
						<a href="http://www.cs.waikato.ac.nz/ml/weka/" target="_blank">Weka</a>
						<a href="http://opennlp.apache.org/" target="_blank">OpenNLP</a>
						<a href="http://nlp.stanford.edu/software/tagger.shtml" target="_blank">Stanford POS Tagger</a>

						<a href="http://nlp.stanford.edu/software/CRF-NER.shtml" target="_blank">Stanford Named Entity Recognizer</a>
						<a href="http://nlp.stanford.edu/software/lex-parser.shtml" target="_blank">Stanford Classifier</a>
						<a href="https://github.com/lionsoul2014/jcseg" target="_blank">jcseg</a>
						<a href="https://github.com/tsroten/pynlpir" target="_blank">NLPIR</a>
						<a href="https://github.com/thunlp/THULAC-Python" target="_blank">THULAC</a>
						<a href="https://github.com/isnowfy/snownlp" target="_blank">SnowNLP</a>
					</dd>
			</dl>
			<dl class="main-menu">
				<dt class="main-title">语音识别</dt>
				<dd class="main-list">
					<a href="http://htk.eng.cam.ac.uk" title="" target="_blank">HTK</a>
					<a href="https://github.com/kaldi-asr" title="" target="_blank">Kaldi</a>
					<a href="https://github.com/Microsoft/CNTK" title="" target="_blank">CNTK</a>
				</dd>
			</dl>

			<dl class="main-menu">
				<dt class="main-title">机器视觉</dt>
				<dd class="main-list">
					<a href="https://github.com/liuliu/ccv/" title="" target="_blank">ccv</a>
					<a href="http://www.mvtec.com/products/halcon" title="" target="_blank">Halcon</a>
					<a href="http://bbs.elecfans.com/zhuti_labview_1.html" title="" target="_blank">Labview</a>
					<a href="http://opencv.org/" title="" target="_blank">opencv</a>
					<a href="https://github.com/biometrics/openbr" title="" target="_blank">openbr</a>
					<a href="http://git.oschina.net/easypr/EasyPR/" title="" target="_blank">EasyPR</a>

					<a href="https://github.com/auduno/headtrackr/" title="" target="_blank">headtrackr</a>
					<a href="http://www.oschina.net/p/javacv" title="" target="_blank">javacv</a>
					<a href="http://www.oschina.net/p/openvss" title="" target="_blank">OpenVSS</a>
					<a href="http://www.oschina.net/p/faceservice.cgi" title="" target="_blank">faceservice</a>
					<a href="https://www.oschina.net/p/asmlibrary" title="" target="_blank">asmlibrary</a>
					<a href="http://www.oschina.net/p/opencvdotnet" title="" target="_blank">opencvdotnet</a>

					<a href="http://www.oschina.net/p/hand-gesture-detection" title="" target="_blank">hand-gesture-detection</a>
					<a href="http://www.oschina.net/p/jviolajones" title="" target="_blank">jviolajones</a>
					<a href="http://www.oschina.net/p/cvblob" title="" target="_blank">cvblob</a>
					<a href="http://www.oschina.net/p/openpr" title="" target="_blank">openpr</a>
					<a href="http://www.oschina.net/p/qmotion" title="" target="_blank">qmotion</a>
					<a href="http://www.oschina.net/p/qvision" title="" target="_blank">qvision</a>
				</dd>
			</dl>
			<dl class="main-menu">
				<dt class="main-title">智能机器人</dt>
				<dd class="main-list">
					<a href="https://msdn.microsoft.com/zh-tw/library/bb648760.aspx" target="_blank">Robotics Developer Studio</a>
					<a href="http://www.orocos.org/"target="_blank">OROCOS</a>
					<a href="http://robotics.usc.edu/?l=Projects:PlayerStageGazebo"  target="_blank">Player, Stage, Gazebo</a>
					<a href="https://sourceforge.net/projects/usarsim/"  target="_blank">usarsim</a>
					<a href="http://simbad.sourceforge.net/" target="_blank">Simbad</a>
					<a href="http://www.cyberbotics.com/" target="_blank">Webots </a>

					<a href="http://www.cc.gatech.edu/aimosaic/robot-lab/research/MissionLab/" target="_blank">MissionLab</a>
					<a href="http://www.v-rep.eu/"target="_blank">V-Rep</a>
					<a href="http://orbit.medphys.ucl.ac.uk/"  target="_blank">MRPT</a>
					<a href="http://www.flightgear.org.cn/forum.PHP"  target="_blank">Flighntgear</a>
				</dd>
			</dl>
		</div>
        </section>
        <section class="c-second-banner">
            <div class="main">
			<h3>经典书籍</h3>
			<dl class="main-menu">
				<dt class="main-title">自然语言处理</dt>
				<dd class="main-list">
					<a href="http://vdisk.weibo.com/s/DuSQQ" target="_blank">自然语言处理综论</a>
					<a href="http://vdisk.weibo.com/s/DjorhtzH--73" target="_blank">统计自然语言处理基础</a>
					<a href="http://vdisk.weibo.com/s/DjorhtzH--73" target="_blank">统计自然语言处理</a>
					<a href="http://vdisk.weibo.com/s/uiPfBB4iRqEX" target="_blank">计算机自然语言处理</a>
				</dd>
			</dl>
			<dl class="main-menu">
				<dt class="main-title">机器视觉</dt>
				<dd class="main-list">
					<a href="http://vdisk.weibo.com/s/AeyWZ" target="_blank">A Modern Approach</a>
					<a href="http://vdisk.weibo.com/s/zLQ_VxSikfrcZ" target="_blank">Computer Vision: Algorithms and Applications</a>
					<a href="http://vdisk.weibo.com/s/t87cWVFGok2cH" target="_blank">Multiple View Geometry in Computer Vision</a>
					<a href="http://vdisk.weibo.com/s/aVI9cTPV7QfVe" target="_blank">数字图像处理</a>

					<a href="http://vdisk.weibo.com/s/B_U0yKSwMjV2H?category_id=0&parents_ref=B_U0yKSx62tsp" target="_blank">图像处理、分析与机器视觉</a>
					<a href="https://www.eecis.udel.edu/~cer/arv/readings/old_mkss.pdf" target="_blank">An Invitation to 3-D Vision</a>
					<a href="http://vdisk.weibo.com/s/ddLB9Clms880k" target="_blank">Computer Vision: Models, Learning, and Inference</a>
					<a href="http://vdisk.weibo.com/s/GhVOn" target="_blank">模式分类</a>
				</dd>
			</dl>
			<dl class="main-menu">
				<dt class="main-title">语音识别</dt>
				<dd class="main-list">
					<a href="http://vdisk.weibo.com/s/ajJ1TmgHA9CBs" target="_blank">Spoken Language Processing</a>
					<a href="http://vdisk.weibo.com/s/yV4zy4V0QbdEH" target="_blank">handbook of speech processing</a>
					<a href="http://vdisk.weibo.com/s/aOtvuuxX7w_LG" target="_blank">Fundamentals of Speech Recognition</a>
					<a href="http://vdisk.weibo.com/s/cjwM6" target="_blank">Speech and Language Processing</a>
					<a href="http://vdisk.weibo.com/s/dv0E0IzRHFk25" target="_blank">数字语音信号处理</a>
				</dd>
			</dl>
			<dl class="main-menu">
				<dt class="main-title">智能机器人</dt>
				<dd class="main-list">
					<a href="http://www.ed2000.com/ShowFile/208679.html" target="_blank">智能机器人传感技术</a>
					<a href="http://pan.baidu.com/s/1c0nuBBi" target="_blank">智能机器人 边学边做</a>
					<a href="http://pan.baidu.com/s/1kTzX9A3#list/path=%2F" target="_blank">机器人制作天空宝典</a>
					<a href="http://vdisk.weibo.com/s/dpl9zOWD9fEeY" target="_blank">图解机器学习</a>
					<a href="http://vdisk.weibo.com/s/yX4X5R2nTur6A" target="_blank">人工智能的未来</a>

					<a href="http://vdisk.weibo.com/s/Fqs64PL4MiNzq" target="_blank">奇点临近</a>
					<a href="http://vdisk.weibo.com/s/te1d-BLdORJrf" target="_blank">与机器人共舞</a>
					<a href="http://pan.baidu.com/share/link?shareid=2432986852&uk=1511375041" target="_blank">机器人控制</a>
					<a href="http://vdisk.weibo.com/s/ukqNrApmhePrD" target="_blank">Introduction to robotics</a>
					<a href="http://vdisk.weibo.com/s/uyA1pDHjmpjnC" target="_blank">机器人制作提高篇</a>

					<a href="http://vdisk.weibo.com/s/zB9xh7KKBfxKN" target="_blank">Probabilistic Robotics</a>
					<a href="http://vdisk.weibo.com/wap/s/uIU8sXaEdBRpD" target="_blank">Artificial Intelligence and Software Engineering</a>
					<a href="http://vdisk.weibo.com/s/BRxN7X8Vcc03q" target="_blank">Artificial Intelligence</a>
				</dd>
			</dl>
		</div>
        </section>
        <section class="c-second-banner">
            <div class="main">
			<h3>顶级会议/期刊</h3>
			<dl class="main-menu">
				<dt class="main-title">自然语言处理</dt>
				<dd class="main-list">
					<a href="http://acl2017.org/" target="_blank">ACL</a>
					<a href="http://emnlp2017.net/" target="_blank">EMNLP</a>
					<a href="http://www.conll.org/" target="_blank">CoNLL</a>
					<a href="http://www.conll.org/" target="_blank">NAACL</a>
				</dd>
			</dl>
			<dl class="main-menu">
				<dt class="main-title">语音识别</dt>
				<dd class="main-list">
					<a href="https://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=89" target="_blank">IEEE Transactions on Audio, Speech and Language Processing </a>
					<a href="https://www.journals.elsevier.com/computer-speech-and-language/" target="_blank">Computer Speech and Language</a>
					<a href="http://www.ieee-icassp2017.org/" target="_blank">ICASSP</a>
					<a href="http://www.interspeech2017.org/" target="_blank">Interspeech</a>

					<a href="http://www.ieee.org/conferences_events/conferences/conferencedetails/index.html?Conf_ID=34931" target="_blank">IEEE workshops on ASRU</a>
					<a href="http://wissap.iiit.ac.in/index.php" target="_blank">WiSSAP</a>
				</dd>
			</dl>
			<dl class="main-menu">
				<dt class="main-title">机器视觉</dt>
				<dd class="main-list">
					<a href="http://iccv2017.thecvf.com/" target="_blank">ICCV</a>
					<a href="http://cvpr2017.thecvf.com/" target="_blank">CVPR</a>
					<a href="http://www.eccv2016.org/" target="_blank">ECCV</a>
					<a href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=34" target="_blank">IEEE T-PAMI</a>
					<a href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?punumber=83" target="_blank">IEEE T-IP</a>
				</dd>
			</dl>
			<dl class="main-menu">
				<dt class="main-title">机器人</dt>
				<dd class="main-list">
					<a href="https://www.icra2016.org/" target="_blank">IEEE International Conference on Robotics and Automation</a>
					<a href="http://cvpr2017.thecvf.com/" target="_blank">IEEE/RSJ International Conference on Intelligent Robots and Systems</a>
					<a href="http://www.ee.cuhk.edu.hk/~qhmeng/icar2017/index.html" target="_blank">International Conference on Advanced Robotics</a>
					<a href="http://www.roboticsconference.org/" target="_blank">Robotics: Science and Systems</a>

					<a href="http://www.ijrr.org/" target="_blank">International Journal of Robotics Research </a>
					<a href="http://www.ieee-ras.org/publications/ram/" target="_blank"> IEEE Robotics and Automation Magazine </a>
					<a href="http://www.ee.cuhk.edu.hk/~qhmeng/icar2017/index.html" target="_blank">International Conference on Advanced Robotics</a>
					<a href="http://www.roboticsconference.org/" target="_blank">Robotics: Science and Systems</a>

					<a href="http://ieeexplore.ieee.org/xpl/RecentIssue.jsp?reload=true&punumber=8860" target="_blank">IEEE Transactions on Robotics</a>
					<a href="http://www.journalfieldrobotics.org/Home.html" target="_blank"> Journal of Field Robotics </a>
					<a href="https://link.springer.com/journal/10846" target="_blank">Journal of Intelligent & Robotic Systems</a>
					<a href="https://www.journals.elsevier.com/robotics-and-autonomous-systems/" target="_blank">Robotics and Autonomous Systems</a>
					<a href="https://www.cambridge.org/core/journals/robotica" target="_blank">robotica</a>
				</dd>
			</dl>
		</div>
        </section>
        <section class="c-second-banner">
            <div class="main">
			<h3>常用算法</h3>
			<dl class="main-menu">
					<dt class="main-title">自然语言处理</dt>
					<dd class="main-list">
						<a href="http://blog.csdn.net/jmschentt/article/details/51790139" target="_blank"> 遗忘算法</a>
						<a href="http://blog.csdn.net/daringpig/article/details/8072794" target="_blank">HMM</a>
						<a href="https://www.52ml.net/8002.html" target="_blank">维特比算法</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器视觉</dt>
					<dd class="main-list">
						<a href="http://blog.csdn.net/abcjennifer/article/details/7639681/" title="" target="_blank">SIFT特征提取分析</a>
						<a href="http://blog.csdn.net/andymfc/article/details/53316404" title="" target="_blank"> 无人机光流定位</a>
						<a href="http://blog.sina.com.cn/s/blog_6d0606e50100w4rb.html" title="" target="_blank">循迹原理</a>
						<a href="http://johnhany.net/2014/05/tld-the-theory/" title="" target="_blank">tld算法</a>
						<a href="http://blog.csdn.net/zouxy09/article/details/8118360" title="" target="_blank">Compressive Tracking</a>
						<a href="http://blog.csdn.net/qianxin_dh/article/details/39377959" title="" target="_blank">Struck跟踪算法</a>
						<a href="http://www.cnblogs.com/yin52133/archive/2012/07/21/2602562.html" title="" target="_blank">ICP和RANSAC</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器人</dt>
					<dd class="main-list">
						<a href="http://blog.csdn.net/qq229596421/article/details/51419813" target="_blank"> PID算法</a>
						<a href="http://blog.csdn.net/xudong_98/article/details/51800265"target="_blank">鲁棒目标跟踪 </a>
						<a href="blog.csdn.net/wzhCAlex/article/details/69951418"  target="_blank">模糊PID</a>
						<a href="http://blog.csdn.net/akunainiannian/article/details/45363731"  target="_blank">SLAM</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器学习</dt>
					<dd class="main-list">
						<a href="http://blog.csdn.net/baimafujinji/article/details/51724371"target="_blank">决策树</a>
						<a href="http://blog.csdn.net/pakko/article/details/37878837"  target="_blank">逻辑回归</a>
						<a href="http://www.cnblogs.com/maybe2030/p/4585705.html"target="_blank">随机森林</a>
						<a href="http://blog.csdn.net/u010376788/article/details/50187321" target="_blank">马尔可夫聚类算法</a>
						<a href="http://blog.csdn.net/alvine008/article/details/9097105"  target="_blank">SVM</a>
						<a href="http://www.cnblogs.com/leoo2sk/archive/2010/09/17/naive-bayesian-classifier.html"  target="_blank">朴素贝叶斯</a>
						<a href="http://blog.csdn.net/gamer_gyt/article/details/47418223/"  target="_blank">k近邻</a>
						<a href="http://blog.csdn.net/qll125596718/article/details/8243404/"  target="_blank">k均值</a>
						<a href="http://blog.csdn.net/zhongkejingwang/article/details/44514073"  target="_blank">BP神经网络</a>
					</dd>
				</dl>
		</div>
        </section>

        <section class="c-second-banner">
            <div class="main">
			<h3>热门产品</h3>
			<dl class="main-menu">
					<dt class="main-title">自然语言处理</dt>
					<dd class="main-list">
						<a href="https://cloud.baidu.com/product/ocr.html" target="_blank">百度云文字识别</a>
						<a href="https://cn.olami.ai" target="_blank">欧拉蜜</a>
						<a href="http://www.ltp-cloud.com/" target="_blank">语言云</a>
						<a href="https://www.qcloud.com/product/nlp" target="_blank">文智</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">语音识别</dt>
					<dd class="main-list">
						<a href="http://www.xfyun.cn" title="" target="_blank">讯飞</a>
						<a href="http://yuyin.baidu.com/" title="" target="_blank">百度语音</a>
						<a href="http://www.aispeech.com/" title="" target="_blank">思必驰</a>
						<a href="http://www.duolingo.cn" title="" target="_blank">多邻国</a>
						<a href="http://www.caiyunapp.com/" title="" target="_blank">彩云小译</a>
						<a href="http://www.atman360.com/" title="" target="_blank">爱特曼</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器视觉</dt>
					<dd class="main-list">
						<a href="http://www.sensetime.com/" target="_blank">商汤科技</a>
						<a href="https://cloud.baidu.com/product/face.html"target="_blank">百度人脸识别</a>
						<a href="https://www.faceplusplus.com.cn/"  target="_blank">旷视</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器人</dt>
					<dd class="main-list">
						<a href="http://www.ubtrobot.com/"target="_blank">优必选</a>
						<a href="https://www.dji.com/"  target="_blank">大疆</a>
						<a href="http://www.siasun.com/"target="_blank">新松</a>
						<a href="http://www.ecovacs.cn/" target="_blank">科沃斯</a>
						<a href="http://jsmini.com/"  target="_blank">jsmini</a>
						<a href="https://tinypng.com/"  target="_blank">tinypng</a>
						<a href="http://www.smushit.com/ysmush.it/"  target="_blank">smushit</a>
					</dd>
				</dl>
		</div>
        </section>

        <section class="c-second-banner">
            <div class="main">
			<h3>圈内牛人</h3>
			<dl class="main-menu">
					<dt class="main-title">自然语言处理</dt>
					<dd class="main-list">
						<a href="http://web.stanford.edu/~jurafsky/" target="_blank">Dan Jurafsky</a>
						<a href="https://nlp.stanford.edu/manning/" target="_blank">Christopher Manning</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">语音识别</dt>
					<dd class="main-list">
						<a href="http://www.ldmc.buaa.edu.cn/~jwniu/" title="" target="_blank">牛建伟</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器视觉</dt>
					<dd class="main-list">
						<a href="http://www.cis.upenn.edu/~jshi/" title="" target="_blank">Jianbo Shi</a>
						<a href="http://www.cs.utexas.edu/~grauman/" title="" target="_blank">Kristen Grauman</a>
						<a href="http://www.cs.ucsb.edu/~mturk/" title="" target="_blank">Matthew Turk</a>
						<a href="http://www.cs.ubc.ca/~lowe/" title="" target="_blank">David Lowe</a>
						<a href="https://people.epfl.ch/pascal.fua/bio?lang=en" title="" target="_blank">Pascal Fua</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器人</dt>
					<dd class="main-list">
						<a href="http://www.ai.mit.edu/projects/leglab/old-leglab/people/mxr.html" target="_blank">Marc Railbert</a>
					</dd>
				</dl>
				<dl class="main-menu">
					<dt class="main-title">机器学习</dt>
					<dd class="main-list">
						<a href="http://www.andrewng.org/" target="_blank">吴恩达</a>
						<a href="https://cs.nju.edu.cn/zhouzh/" target="_blank">周志华</a>
						<a href="http://yann.lecun.com/" target="_blank">LeCun</a>
						<a href="http://www.iro.umontreal.ca/~bengioy/yoshua_en/" target="_blank">Bengio</a>
						<a href="http://weibo.com/u/2060750830?is_hot=1" target="_blank">李航</a>

					</dd>
				</dl>
		</div>
        </section>

        <!-- <section class="c-article-list">
            <div class="c-li-article-ordinary">
                <section class="c-article-cover fl">
                    <a href="javascript:void(0)"><img src="{% static 'img/article-cover.jpg' %}"></a>
                </section>
                <section class="c-article-right fl">
                    <h2 class="c-article-title">
                        <a href="javascript:void(0)"><span class="fsize18">没节操的天猫晚会不仅赢了收视率，还带来“电视购物晚会”的新玩法</span></a>
                    </h2>
                    <section class="c-article-statics">
                        <a href="javascript:void(0)"><img class="c-article-author-avatar vam" src="{% static 'img/11_avatar_middle.jpg' %}"></a>
                        <a href="javascript:void(0)"><span class="c-article-author-name mr30 fsize14 vam">黑马良驹</span></a>
                        <span class="c-article-send-time fsize14 vam">28分钟前</span>
                        <section class="c-article-comment-num mr20 disIb vam">
                            <em class="fa fa-comment"></em><span class="fsize14">0</span>
                        </section>
                        <section class="c-article-star-num mr20 disIb vam">
                            <em class="fa fa-star"></em><span class="fsize14">0</span>
                        </section>
                        <span class="mr30 fenge">|</span>
                        <section class="c-s-article-share disIb vam">
                            <ul>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <div class="clear"></div>
                            </ul>
                        </section>
                    </section>
                    <p class="c-p-article-summary fsize14">没节操的天猫晚会不仅赢了收视率没节操的天猫晚会不仅赢了收视率没节操的天猫晚会不仅赢了收视率没节操的天猫晚会不仅赢了收视率，就好像办婚事，要搞得热热闹闹，让网友觉得好玩</p>
                </section>
            </div>
            <div class="c-li-article-ordinary">
                <section class="c-article-cover fl">
                    <a href="javascript:void(0)"><img src="{% static 'img/article-cover.jpg' %}"></a>
                </section>
                <section class="c-article-right fl">
                    <h2 class="c-article-title">
                        <a href="javascript:void(0)"><span class="fsize18">没节操的天猫晚会不仅赢了收视率，还带来“电视购物晚会”的新玩法</span></a>
                    </h2>
                    <section class="c-article-statics">
                        <a href="javascript:void(0)"><img class="c-article-author-avatar vam" src="{% static 'img/11_avatar_middle.jpg' %}"></a>
                        <a href="javascript:void(0)"><span class="c-article-author-name mr30 fsize14 vam">黑马良驹</span></a>
                        <span class="c-article-send-time fsize14 vam">28分钟前</span>
                        <section class="c-article-comment-num mr20 disIb vam">
                            <em class="fa fa-comment"></em><span class="fsize14">0</span>
                        </section>
                        <section class="c-article-star-num mr20 disIb vam">
                            <em class="fa fa-star"></em><span class="fsize14">0</span>
                        </section>
                        <span class="mr30">|</span>
                        <section class="c-s-article-share disIb vam">
                            <ul>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                            </ul>
                        </section>
                    </section>
                    <p class="c-p-article-summary fsize14">直播晚会这东西，就好像办婚事，要搞得热热闹闹，让网友觉得好玩</p>
                </section>
            </div>

            <div class="c-li-article-push">
                <section class="c-article-cover fl">
                    <a href="javascript:void(0)"><img src="{% static 'img/article-cover2.jpg' %}"></a>
                </section>
                <section class="c-article-right fl">
                    <h2 class="c-article-title">
                        <a href="javascript:void(0)"><span class="">没节操的天猫晚会不仅赢了收视率，还带来“电视购物晚会”的新玩法</span></a>
                    </h2>
                    <section class="c-article-statics">
                        <a href="javascript:void(0)"><img class="c-article-author-avatar vam" src="{% static 'img/11_avatar_middle.jpg' %}"></a>
                        <a href="javascript:void(0)"><span class="c-article-author-name mr30 fsize14 vam">黑马良驹</span></a>
                        <span class="c-article-send-time vam">28分钟前</span>
                        <section class="c-article-comment-num mr20 disIb vam">
                            <em class="fa fa-comment"></em><span class="">0</span>
                        </section>
                        <section class="c-article-star-num mr20 disIb vam">
                            <em class="fa fa-star"></em><span class="">0</span>
                        </section>
                        <span class="mr30  undis">|</span>
                        <section class="c-s-article-share disIb vam">
                            <ul>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                            </ul>
                        </section>
                    </section>
                    <p class="c-p-article-summary fsize14">直播晚会这东西，就好像办婚事，要搞得热热闹闹，让网友觉得好玩</p>
                </section>
            </div>
            <div class="c-li-article-ordinary">
                <section class="c-article-cover fl">
                    <a href="javascript:void(0)"><img src="{% static 'img/article-cover.jpg' %}"></a>
                </section>
                <section class="c-article-right fl">
                    <h2 class="c-article-title">
                        <a href="javascript:void(0)"><span class="fsize18">没节操的天猫晚会不仅赢了收视率，还带来“电视购物晚会”的新玩法</span></a>
                    </h2>
                    <section class="c-article-statics">
                        <a href="javascript:void(0)"><img class="c-article-author-avatar vam" src="{% static 'img/11_avatar_middle.jpg' %}"></a>
                        <a href="javascript:void(0)"><span class="c-article-author-name mr30 fsize14 vam">黑马良驹</span></a>
                        <span class="c-article-send-time fsize14 vam">28分钟前</span>
                        <section class="c-article-comment-num mr20 disIb vam">
                            <em class="fa fa-comment"></em><span class="fsize14">0</span>
                        </section>
                        <section class="c-article-star-num mr20 disIb vam">
                            <em class="fa fa-star"></em><span class="fsize14">0</span>
                        </section>
                        <span class="mr30">|</span>
                        <section class="c-s-article-share disIb vam">
                            <ul>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                            </ul>
                        </section>
                    </section>
                    <p class="c-p-article-summary fsize14">直播晚会这东西，就好像办婚事，要搞得热热闹闹，让网友觉得好玩</p>
                </section>
            </div>
            <div class="c-li-article-ordinary">
                <section class="c-article-cover fl">
                    <a href="javascript:void(0)"><img src="{% static 'img/article-cover.jpg' %}"></a>
                </section>
                <section class="c-article-right fl">
                    <h2 class="c-article-title">
                        <a href="javascript:void(0)"><span class="fsize18">没节操的天猫晚会不仅赢了收视率，还带来“电视购物晚会”的新玩法</span></a>
                    </h2>
                    <section class="c-article-statics">
                        <a href="javascript:void(0)"><img class="c-article-author-avatar vam" src="{% static 'img/11_avatar_middle.jpg' %}"></a>
                        <a href="javascript:void(0)"><span class="c-article-author-name mr30 fsize14 vam">黑马良驹</span></a>
                        <span class="c-article-send-time fsize14 vam">28分钟前</span>
                        <section class="c-article-comment-num mr20 disIb vam">
                            <em class="fa fa-comment"></em><span class="fsize14">0</span>
                        </section>
                        <section class="c-article-star-num mr20 disIb vam">
                            <em class="fa fa-star"></em><span class="fsize14">0</span>
                        </section>
                        <span class="mr30">|</span>
                        <section class="c-s-article-share disIb vam">
                            <ul>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                            </ul>
                        </section>
                    </section>
                    <p class="c-p-article-summary fsize14">直播晚会这东西，就好像办婚事，要搞得热热闹闹，让网友觉得好玩</p>
                </section>
            </div>
            <div class="c-li-article-push">
                <section class="c-article-cover fl">
                    <a href="javascript:void(0)"><img src="{% static 'img/article-cover2.jpg' %}"></a>
                </section>
                <section class="c-article-right fl">
                    <h2 class="c-article-title">
                        <a href="javascript:void(0)"><span class="">没节操的天猫晚会不仅赢了收视率，还带来“电视购物晚会”的新玩法</span></a>
                    </h2>
                    <section class="c-article-statics">
                        <a href="javascript:void(0)"><img class="c-article-author-avatar vam" src="{% static 'img/11_avatar_middle.jpg' %}"></a>
                        <a href="javascript:void(0)"><span class="c-article-author-name mr30 fsize14 vam">黑马良驹</span></a>
                        <span class="c-article-send-time vam">28分钟前</span>
                        <section class="c-article-comment-num mr20 disIb vam">
                            <em class="fa fa-comment"></em><span class="">0</span>
                        </section>
                        <section class="c-article-star-num mr20 disIb vam">
                            <em class="fa fa-star"></em><span class="">0</span>
                        </section>
                        <span class="mr30  undis">|</span>
                        <section class="c-s-article-share disIb vam">
                            <ul>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                            </ul>
                        </section>
                    </section>
                    <p class="c-p-article-summary fsize14">直播晚会这东西，就好像办婚事，要搞得热热闹闹，让网友觉得好玩</p>
                </section>
            </div>
            <div class="c-li-article-ordinary">
                <section class="c-article-cover fl">
                    <a href="javascript:void(0)"><img src="{% static 'img/article-cover.jpg' %}"></a>
                </section>
                <section class="c-article-right fl">
                    <h2 class="c-article-title">
                        <a href="javascript:void(0)"><span class="fsize18">没节操的天猫晚会不仅赢了收视率，还带来“电视购物晚会”的新玩法</span></a>
                    </h2>
                    <section class="c-article-statics">
                        <a href="javascript:void(0)"><img class="c-article-author-avatar vam" src="{% static 'img/11_avatar_middle.jpg' %}"></a>
                        <a href="javascript:void(0)"><span class="c-article-author-name mr30 fsize14 vam">黑马良驹</span></a>
                        <span class="c-article-send-time fsize14 vam">28分钟前</span>
                        <section class="c-article-comment-num mr20 disIb vam">
                            <em class="fa fa-comment"></em><span class="fsize14">0</span>
                        </section>
                        <section class="c-article-star-num mr20 disIb vam">
                            <em class="fa fa-star"></em><span class="fsize14">0</span>
                        </section>
                        <span class="mr30">|</span>
                        <section class="c-s-article-share disIb vam">
                            <ul>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                                <li class="mr20 fl vam"><a href="javascript:void(0)"><img src="{% static 'img/20-20.png' %}"></a></li>
                            </ul>
                        </section>
                    </section>
                    <p class="c-p-article-summary fsize14">直播晚会这东西，就好像办婚事，要搞得热热闹闹，让网友觉得好玩</p>
                </section>
            </div>


        </section>

        <a id="i-a-article-load-more" href="javascript:void(0)"><span>点击加载更多</span></a> -->
    </div>

    <div class="c-side fr">
        <div class="c-top-column">
            <!-- 背景图实现 -->
            <!--<section class="c-column-head">-->
                <!--&lt;!&ndash;<span class="column-name fl">实时新闻</span>&ndash;&gt;-->
                <!--&lt;!&ndash; <span class="fr">13人讨论</span> &ndash;&gt;-->
            <!--</section>-->
            <!-- <a href="">
            <img src="{% static 'img/column-top.jpg' %}">
            <span class="article-title">下一代社交网络是怎样的？#来预测</span>
            </a> -->
        </div>
        <div class="c-column">
            <!-- <section class="c-column-head">
                <span class="column-mark"></span>
                <span class="column-name">热门群组</span>
            </section>
            <div class="c-column-content">
                <div class="c-column-ele hot-group">
                    <a href=""><span class="fl">科技神吐槽</span></a>
                    <span class="fr">38060话题</span>
                </div>
                <div class="c-column-ele hot-group">
                    <a href=""><span class="fl">科技神吐槽</span></a>
                    <span class="fr">38060话题</span>
                </div>
            </div> -->
        </div>
        <!-- <div class="c-column">
            <section class="c-column-head">
                <span class="column-mark"></span>
                <span class="column-name">创业板</span>
                <span class="fr">全部</span>
            </section>
            <div class="c-column-content">
                <div class="c-column-ele chuangye">
                    <img class="fl" src="{% static 'img/chuangye-cover.jpg' %}">
                    <section class="fl">
                        <a href=""><span class="title">新片场</span></a>
                        <span class="summary">下一代传媒公司</span>
                    </section>
                </div>
                <div class="c-column-ele chuangye">
                    <img class="fl" src="{% static 'img/chuangye-cover.jpg' %}">
                    <section class="fl">
                        <a href=""><span class="title">新片场</span></a>
                        <span class="summary">下一代传媒公司</span>
                    </section>
                </div>
                <div class="c-column-ele chuangye">
                    <img class="fl" src="{% static 'img/chuangye-cover.jpg' %}">
                    <section class="fl">
                        <a href=""><span class="title">新片场</span></a>
                        <span class="summary">下一代传媒公司</span>
                    </section>
                </div>
                <div class="c-column-ele chuangye">
                    <img class="fl" src="{% static 'img/chuangye-cover.jpg' %}">
                    <section class="fl">
                        <a href=""><span class="title">新片场</span></a>
                        <span class="summary">下一代传媒公司</span>
                    </section>
                </div>
            </div>
        </div> -->
    </div>

    <div class="clear"></div>
</div>

<footer class="c-footer">
    <div class="c-main">
        <div class="c-left fl">
            <ul>
                <li><a href=""><span>关于我们</span></a></li>
                <!-- <li><a href=""><span>加入我们</span></a></li>
                <li><a href=""><span>合作伙伴</span></a></li>
                <li><a href=""><span>广告及服务</span></a></li>
                <li><a href=""><span>常见问题解答</span></a></li>
                <li><a href=""><span>防网络诈骗专题</span></a></li> -->
                <div class="clear"></div>
            </ul>

            <!-- <section class="c-copyright">
                <section class="disIb">
                    <span>Copyright ©</span>
                    <a href="javascript:void(0)"><span>虎嗅网</span></a>
                    <span>北京虎嗅信息科技股份有限公司</span>
                    <a href="javascript:void(0)"><span>京ICP备12013432号-1</span></a>
                </section>
                <i class="fa fa-dot-circle-o ml10 mr10"></i>
                <section class="disIb">
                    <span>本站运行在</span>
                    <img src="{% static 'img/aliyun.png' %}">
                    <span>阿里云+</span>
                </section>
            </section> -->
        </div>
        <!-- <div class="c-right fl">
            <ul>
                <li>
                    <em class="fa fa-comment"></em>
                    <img src="{% static 'img/weixin_erweima.png' %}">
                </li>
                <li>
                    <em class="fa fa-comment"></em>
                    <img src="{% static 'img/weixin_erweima.png' %}">

                </li>
                <li>
                    <em class="fa fa-comment"></em>
                    <img src="{% static 'img/weixin_erweima.png' %}">

                </li>
                <li>
                    <em class="fa fa-comment"></em>
                </li>
                <li>
                    <em class="fa fa-comment"></em>
                </li>
                <li>
                    <em class="fa fa-comment"></em>
                </li>
            </ul>
        </div> -->
    </div>

</footer>

</div>
</body>
</html>