
{% extends 'aibase.html' %}
{% load urlextend %}


{% block container %}

<div id="myCarousel" class="carousel slide">
    <!-- 轮播（Carousel）指标 -->
    <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>    -->
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        {% for article in article_list %}
                {% if forloop.first%}
                    <div class="item active" >
                {% else %}
                    <div class="item" >
                {% endif %} 
                
                       <img  height="300"src="/static/{{ article.head_img|show_img }}" >
                       <div class="carousel-caption" style="height: 180px;text-align: center;"> <a href="{% url 'article_detail' article.id %}">{{ article.title }}</a></div>
                   
                        
                        <!-- <div style="color: #999">{{ article.brief }}</div> -->
                   
                </div>

            {% endfor %}
        
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" 
        data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel" 
        data-slide="next">&rsaquo;
    </a>
</div>
<script type="text/javascript">
    
    $('#myCarousel').carousel();
    
</script>
{% endblock %}